*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #b5dcc7;
}

#userCard{
width: 300px;
height: 450px;
border: none;
border-radius: 25px;
margin: 0 auto;
position: relative;
top:50px;
-webkit-box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.63); 
box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.63);
}

#firstSlide{
   
    background-image: url(./../img/sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#secondSlide{
    position: relative;
    background-color: white;
    height: 300px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#imageContainer{
    width: 150px;
    height: 150px;    
    overflow: hidden;
    position: absolute;
    left: 75px;
    top: -75px;
    border-radius: 50%;  
}
#userPhoto{          
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
#userInfo{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 85px;
    text-align: center;
}
#userInfo h2, h4, h5{
    font-weight: normal;
    margin-bottom: 7px;
}
#userInfo h4, h5, p{
    color: #bbbbbb;
}
#userInfo p{
    font-size: 13px;
}
#icons{
    position: absolute;
    top: 240px; 
    width: 100%;    
    text-align: center;
    
}
.socialmedia{
    display: inline-block;
    width: 32%;
    height: 35px;
    overflow: hidden;
    object-fit: cover;
}
.socialmedia > img{
    
    width: inherit;
    height: inherit;
}